@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

#viewport {
    position: absolute;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-container {
    display: grid;
}

.tile {
    height: 10px;
    width: 10px;
}